/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/menu/menu.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.Menu_wrapper {
  max-width: min(72rem, 98%);
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .Menu_wrapper {
    grid-template-columns: 1fr;
  }
  .Menu_bar {
    display: none;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/Buttons/Btn1.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --btn-shape: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  --btn-border-shape: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
  --border-clr: #00e0ff;
  --background-clr: rgba(53, 123, 134, 0.562);
}
.btn1_wrapper {
  width: 300px;
  height: 45px;
  color: white;
  position: relative;
  cursor: pointer;
}
.btn1 {
  width: 100%;
  height: 100%;
  background-color: var(--border-clr);
  position: relative;
  isolation: isolate;
  -webkit-clip-path: var(--btn-shape);
          clip-path: var(--btn-shape);
}
.btn1::before {
  content: "";
  position: absolute;
  background-color: var(--background-clr);
  inset: 2px;
  z-index: -1;
  -webkit-clip-path: var(--btn-border-shape);
          clip-path: var(--btn-border-shape);
}
.btn1_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--ft-1);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.165em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.btn1_bar {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 2px;
  background-color: #00e0ff;
  transform: skew(-45deg);
  filter: blur(1px);
}
.btn1_bar1 {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #00e0ff;
  transform: skew(-45deg);
  filter: blur(1px);
}

.btn1_wrapper:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
.btn1_wrapper:hover .btn1_bar,
.btn1_wrapper:hover .btn1_bar1 {
  background-color: aliceblue;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/Nav/Nav.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  z-index: 99;
  background: rgba(17, 16, 16, 0.81);

}

nav img {
  padding-left: 5px;
}

nav {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desktop-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.desktop-links a {
  font-family: var(--ft-1);
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;


}

.desktop-links a:hover {
  border-bottom: 5px solid #fff;

}

#hammenu {
  display: none;
}

@media only screen and (max-width: 680px) {

  .desktop-links {
    z-index: 99;
    top: -10px;
    left: -110%;
    position: absolute;
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #fff;
    transition: all ease-in-out 0.5s;
  }

  #hammenu {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 999;
    display: block;
    color: #00e0ff;
    font-size: 1.5rem;
  }
}
