.team h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-bottom: 2rem;
  display: none;
}
.team h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.015em;
  text-align: left;
  margin: 2rem 0;
}
.team_wrapper {
  height: 65vh;
  overflow-y: scroll;
}
.team_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: var(--ft-1);
}

.team_wrapper::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

.team_wrapper::-webkit-scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  background-color: #f5f5f5;
}

.team_wrapper::-webkit-scrollbar-thumb {
  background-color: #00e0ff;
}
