:root {
  --btn-shape: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  --btn-border-shape: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
  --border-clr: #00e0ff;
  --background-clr: rgba(53, 123, 134, 0.562);
}
.btn1_wrapper {
  width: 300px;
  height: 45px;
  color: white;
  position: relative;
  cursor: pointer;
}
.btn1 {
  width: 100%;
  height: 100%;
  background-color: var(--border-clr);
  position: relative;
  isolation: isolate;
  clip-path: var(--btn-shape);
}
.btn1::before {
  content: "";
  position: absolute;
  background-color: var(--background-clr);
  inset: 2px;
  z-index: -1;
  clip-path: var(--btn-border-shape);
}
.btn1_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--ft-1);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.165em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.btn1_bar {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 2px;
  background-color: #00e0ff;
  transform: skew(-45deg);
  filter: blur(1px);
}
.btn1_bar1 {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #00e0ff;
  transform: skew(-45deg);
  filter: blur(1px);
}

.btn1_wrapper:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
.btn1_wrapper:hover .btn1_bar,
.btn1_wrapper:hover .btn1_bar1 {
  background-color: aliceblue;
}
