@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Inknut+Antiqua&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  --ft-car: "Carrois Gothic SC", sans-serif;
  --ft-ink: "Inknut Antiqua", serif;
  --ft-robo: "Roboto", sans-serif;
}

body {
  background: url("../images/body-bg.jpg");
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.center-width {
  max-width: min(72rem, 96%);
  margin: 0 auto;
}
