main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);
  overflow: hidden;
}

main {
  position: absolute;
  padding-top: 5rem;
}

.main_bottom {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);
}

.main_bottom p {
  font-family: var(--ft-ink);
  font-size: 32px;
  font-weight: 400;
  /* line-height: 83px; */
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 99.48%);
  padding: 2rem;
}

.main_title {
  font-family: var(--ft-ink);
  font-size: 152px;
  font-weight: 400;
  line-height: 248px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main_title {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-left: 30px;
}

main img {
  width: 90%;
  /* margin-bottom: 10rem; */
}

.start_btn {
  transform: translate(-10%, 0%);
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .main_title {
    font-size: 56px;
    top: 18%;
    gap: 0rem;
    margin-left: 0px;
  }

  .main_bottom p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
  }

  main img {
    width: 100%;
    margin-bottom: 7rem;
  }

  .start_btn {
    transform: translate(0%, 0%);
  }

  .nav_wrapper {
    position: static;
    width: auto;
    height: auto;
  }

  body {
    overflow: hidden;
  }
}

@media only screen and (min-width:501px) and (max-width: 950px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .main_title {
    font-size: 80px;
    text-align: center;
    gap: 10rem;
  }

  main img {
    margin-bottom: 3rem;
    width: 80%;
  }

}