.Team_Member {
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Team_Member img {
  border-radius: 50%;
}