body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  z-index: 99;
  background: rgba(17, 16, 16, 0.447);

}

nav img {
  padding-left: 5px;
}

nav {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desktop-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* cursor: pointer;*/
}

.desktop-links a {
  font-family: var(--ft-1);
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.desktop-links a:hover {
  border-bottom: 5px solid #fff;

}

#hammenu {
  display: none;
}

.desktop-links a {
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 680px) {

  .desktop-links {
    z-index: 99;
    top: -10px;
    left: -110%;
    position: absolute;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 2rem;
    padding-top: 5rem;
    background-color: rgba(44, 42, 42, 0.923);
    transition: all ease-in-out 0.3s;

  }

  #Logo {
    z-index: 999;
  }

  #hammenu {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 900;
    display: block;
    color: #00e0ff;
    font-size: 1.5rem;
  }


  .desktop-links a {
    font-size: 22px;
    border-bottom: 3px solid white;
    margin-left: 4rem;
    width: 100vw;
    padding-right: 10vw;
    font-family: 'Courier New', Courier, monospace;
  }

  .desktop-links a:hover {
    border-bottom: 3px solid #00e0ff;
    padding-right: 25vw;
    color: #00e0ff;

  }
}